<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="css/app.css"/>
  </head>
  <body>
    <script type="text/html" id="template-query">
      <div class="query-box">
          <input class="form-control input-lg" type="text" name="query" id="query" value="<%= query %>" placeholder="<%= placeholder %>" autofocus/>
      </div>
      <div id="image-preview" class="current_image">
      </div>
      <div class="classes" id="image-classes">
      </div>
    </script>

    <script type="text/html" id="template-current-image">
      <img src="<%= url %>" alt="<%= unique_name %>" />
    </script>

    <script type="text/html" id="template-image-class">
      <div class="class">
        <span><%= name %></span>
        <img src="<%= image_url %>" alt="<%= image_unique_name %>" />
      </div>
    </script>

    <div id="app" class="content"></div>
    <div id="preload"></div>
    <!-- 3rd party dependencies -->
    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/underscore/underscore.js"></script>
    <script src="vendor/backbone/backbone.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="vendor/mousetrap/mousetrap.min.js"></script>
    <script src="vendor/backbone-validation/dist/backbone-validation.js"></script>

    <!-- Backbone Services -->


    <!-- Backbone Models -->
    <script src="js/models/image_class.js"></script>
    <script src="js/models/query.js"></script>
    <script src="js/models/image.js"></script>

    <!-- <script src="js/models/image.js"></script> -->

    <!-- Backbone Views -->
    <script src="js/views/query_view.js"></script>
    <script src="js/views/image_view.js"></script>
    <script src="js/views/image_class_view.js"></script>


    <!-- Backbone App -->
    <script src="js/views/main_view.js"></script>
    <script src="js/app.js"></script>
    <!-- <script src="http://localhost:35729/livereload.js" type="text/javascript" charset="utf-8"></script> -->

    <!--   <div id="app" class="content">
      <div id="query"></div>

      <div class="current_image">
        <img src="" alt="" />
      </div>

      <div class="classes">
        <div class="class">
          <span>Class A</span>
          <img src="" alt="" />
        </div>
        <div class="class">
          <span>Class A</span>
          <img src="" alt="" />
        </div>
        <div class="class">
          <span>Class A</span>
          <img src="" alt="" />
        </div>
        <div class="class">
          <span>Class A</span>
          <img src="" alt="" />
        </div>
      </div>
    </div> -->
  </body>
</html>
